.Table_styling{
    display: inline-table;
    font-weight: 530;
    font-size: small;
    font-family: sans-serif;
}

.table-row{
    border: 1px solid rgb(179, 175, 175)
}

.table-row:hover{
    background-color: lightgray;
}
