<!-- <div class="conatiner p-5">
  <div class="row" style="border-radius: 7px; overflow: hidden; box-shadow: 4px  10px 13px 0px rgb(148, 148, 148);"> -->

    <!-- <div class="col-4">
      <h2 class="text-dark">Warehouse - Outline</h2>
      <cs-autocomplete [(ngModel)]="selectedCustomerId" [options]="customers" labelKey="name" valueKey="id"
        appearance="outline"></cs-autocomplete>
    </div> -->

    <!-- <div class="col-4">
      <h2 class="text-dark">Warehouse - Filled</h2>
    </div> -->
    <!-- <div class="col-4"> -->


      <!-- <table border="1" cellpadding="8" cellspacing="0">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Country</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of _data" class="bg-dark">
            <td>{{row?.warehouseId}}</td>
            <td>{{row?.name}}</td>
            <td>{{row?.address}}</td>
            <td>{{row?.city}}</td>
            <td>{{row?.country}}</td>
          </tr>
        </tbody>
      </table> -->
      <!-- <cs-select></cs-select> -->
    <!-- </div> -->
  <!-- </div>
</div> -->
<div class="container w-100 p-3">
   <cs-setup [datasource]="_data" [columns]="columns"></cs-setup>

   <div class="w-100 m-2">
    <cs-input [csModel]="model.inpVal" label="Input"></cs-input>
   </div>
   <div class="w-100 m-2">
      <cs-autocomplete [(ngModel)]="model.autoId" [options]="_data" label="Autocomplete" 
        valueField="warehouseId" displayField="name"></cs-autocomplete>
   </div>
   <div class="w-100 m-2">
      <cs-select [csModel]="model.selectId" [datasource]="_data" valueField="warehouseId"
       displayField="name" label="Select"></cs-select>
   </div>

   <!-- <div class="w-100 m-2">
    <cs-button icon="search"></cs-button>
    <cs-button label="Qusain" icon="home"></cs-button>
    <cs-button label="Peter"></cs-button>
   </div> -->
</div>