<div class="upload-container">
  <div class="upload-card">
    <div class="drop-zone" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)"
      [class.active]="isDragging">
      <p class="mt-2">Drag & Drop files here or <span (click)="fileInput.click()">Browse</span></p>
      <input type="file" multiple hidden #fileInput (change)="onFileSelected($event)" />
    </div>

    <div class="file-list" *ngIf="files.length > 0">
      <div class="file-item" *ngFor="let file of files; let i = index">
        <mat-icon>file_present</mat-icon>
        <div class="file-info">
          {{ file.name }}
        </div>
        <button mat-icon-button class="close-button" [mat-dialog-close]="true">
          <mat-icon class="close-icon" (click)="removeFile(i)">close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>