.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  input {
    border: 1px solid #cfcfcf;
    border-radius: 6px;
    padding: 6px 10px;
    width: 200px;
    font-size: 0.95rem;

    &:focus {
      outline: none;
      border-color: #11335d;
    }
  }
}

::ng-deep.setup-title {
  color: black !important;
  font-size: 25px;
  margin: 0px !important;
}

.table-wrapper {
  overflow-x: auto;

  .mat-mdc-table {
    background-color: #11335d !important;
  }

  .cs-table {
    width: 100%;
    border-collapse: collapse;

    th.mat-header-cell {
      background-color: #ff7300 !important;
      color: #fff;
      font-weight: 600;
      font-size: 14px;
      padding: 12px 8px;
    }

    td.mat-cell {
      padding: 12px 8px;
      font-size: 14px;
      color: #333;
    }

    .odd-row {
      background-color: #f5f8ff;
    }

    .even-row {
      background-color: #ffffff;
    }

    tr.mat-row {
      color: #0088ff;
    }

    tr.mat-row:hover {
      background-color: #e0e6f2;
    }
  }
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #11335d;

  .spin {
    margin-right: 8px;
    animation: spin 1s linear infinite;
  }
}

.empty-container {
  padding: 20px;
  text-align: center;
  color: #777;
}

.add-btn {
  background: #11335d !important;
  color: #fff !important;
  border-radius: 50% !important;
  transition: 0.2s !important;

  &:hover {
    background: #0e2b4c !important;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}