.top-bar {
  background: white;
  padding: 18px 24px;
  border-radius: 10px;
  // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: space-between;
  align-items: center;

  input {
    border: 1px solid #cfcfcf;
    border-radius: 6px;
    padding: 6px 10px;
    width: 200px;
    font-size: 0.95rem;

    &:focus {
      outline: none;
      border-color: #11335d;
    }
  }
}

::ng-deep.setup-title {
    color: black !important;
    font-size: 32px !important;
    margin: 0px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    letter-spacing: 1px !important;
}

.table-wrapper {
  overflow-x: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px rgb(187, 186, 186);

  .mat-mdc-table {
    background-color: #11335d !important;
  }

  .cs-table {
    width: 100%;
    border-collapse: collapse;

    .custom-row{
      border: 1px solid rgb(204, 201, 201);
      background-color: white;
    }

    th.mat-header-cell {
      background-color: #ff7300 !important;
      color: #fff;
      font-weight: 600;
      font-size: 14px;
      padding: 12px 8px;
    }

    td.mat-cell {
      padding: 12px 8px;
      font-size: 14px;
      color: #333;
    }

    .odd-row {
      background-color: #f5f8ff;
    }

    .even-row {
      background-color: #ffffff;
    }

    tr.mat-row {
      color: #0088ff;
    }

    tr.mat-row:hover {
      background-color: #e0e6f2;
    }
  }
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #11335d;

  .spin {
    margin-right: 8px;
    animation: spin 1s linear infinite;
  }
}

.empty-container {
  padding: 20px;
  text-align: center;
  color: #777;
}
.btn-top{
  display: flex;
  gap: 6px;
}

.page-action {
    background: white !important;
    color: #11335d !important;
    // box-shadow: ;
    // border-radius: 50% !important;
    // transition: 0.2s !important;
    // border: 2px solid #11335d !important;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}