  <div class="w-100">
    <table mat-table [dataSource]="datasource">
        <ng-container *ngFor="let col of column">
            <ng-container [matColumnDef]="col.displayName">
                <th mat-header-cell *matHeaderCellDef> {{ col?.displayName }} </th>
                <td mat-cell *matCellDef="let row">{{ row[col.key] }}</td>
            </ng-container>
        </ng-container> 
      <tr mat-header-row *matHeaderRowDef="column"></tr>
      <tr mat-row *matRowDef="let row; columns: column;"></tr>
    </table>
  </div>

  <ng-container *ngIf="totalRecCount > 0">
    <mat-paginator [length]="totalRecCount" [pageSize]="20"></mat-paginator>
  </ng-container>

  <!-- matSort [matSortActive]="sortField" matSortDirection="desc"  matSortDisableClear -->