<div class="cs-setup-container">
  <div class="top-bar">
    <p class="setup-title">{{ title }}</p>
    <div class="d-flex align-items-center">
      <cs-search-bar *ngIf="duplicateData && duplicateData.length > 0" [datasource]="duplicateData"
        (datasourceChange)="changeDatasource($event)"></cs-search-bar>
      <div class="btn-top">

        <button mat-mini-fab (click)="openFormDialog()" matTooltip="Add New Record" class="page-action">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-mini-fab class="page-action" [matMenuTriggerFor]="menu">
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>account_box</mat-icon>
            <span>User Details</span>
          </button>
          <button mat-menu-item>
            <mat-icon>contact_support</mat-icon>
            <span>Contact Support</span>
          </button>
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Setting</span>
          </button>
        </mat-menu>
      </div>

    </div>
  </div>

  <div class="table-wrapper m-2">
    <table mat-table [dataSource]="dataSource" matSort class="cs-table">
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element" class="custom-row">
          <div class="w-100 d-flex align-items-center">
            <button class="btn small" (click)="openFormDialog(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button class="btn small danger" (click)="deleteItem(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
      <ng-container *ngFor="let col of columns" [matColumnDef]="col.key">
        <th mat-header-cell class="txt-ellipsis" *matHeaderCellDef [mat-sort-header]="col.sortable ? col.key : ''">
          {{ col.label }}
        </th>
        <td mat-cell *matCellDef="let element" class="txt-clr-black custom-row">
          {{
          col?.isDate ? (element[col.key] | date : "dd-MMM-yyyy") :
          col?.isNumber ? (element[col.key] | number: '1.2-2') :
          element[col.key]
          }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"
        [class.odd-row]="dataSource.data.indexOf(row) % 2 === 0"
        [class.even-row]="dataSource.data.indexOf(row) % 2 === 1"></tr>
    </table>

    @if (isLoading) {
    <div class="loading-container">
      <mat-icon class="spin">refresh</mat-icon>
      Loading...
    </div>
    }

    @if (!isLoading && dataSource.data.length === 0) {
    <div class="empty-container">
      No items found.
    </div>
    }
  </div>
</div>