html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.background-blue {
    background: #11335d !important;
}

.txt-clr-blue {
    color: #11335d !important;
}

.txt-clr-red {
    color: red !important;
}

.pointer {
  cursor: pointer;
}