html, body { height: 100%; }
body { margin: 0 !important; font-family: 'Roboto', 'Arial', sans-serif !important; }

// material styling

.mat-mdc-dialog-container .mdc-dialog__surface {
  background: white !important;
  color: black !important;
  border-radius: 5px !important;
}

.mat-mdc-dialog-content {
  background: white !important;
  color: black !important;
}

.mat-mdc-dialog-title {
  color: black !important;
  background: white !important;
}

.mat-mdc-dialog-actions {
  color: black !important;
  background: white !important;
}

// material styling

.background-blue {
    background: #11335d !important;
}

.h-100{
    height: 100vh !important;
}

.txt-clr-blue {
    color: #11335d !important;
}

.txt-clr-red {
    color: red !important;
}

.txt-clr-black {
    color: black !important;
}

.pointer {
  cursor: pointer !important;
}

.spin {
  animation: spin 1s linear infinite !important;
  color: #11335d !important;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}