// @use '@angular/material' as mat;

// // apna theme yahan define karo
// $my-primary: mat.define-palette(mat.$indigo-palette, 600);
// $my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// $my-warn: mat.define-palette(mat.$red-palette);

// $my-theme: mat.define-light-theme((
//   color: (
//     primary: $my-primary,
//     accent: $my-accent,
//     warn: $my-warn,
//   )
// ));

// @include mat.all-component-themes($my-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.background-blue {
    background: #11335d !important;
}

.txt-clr-blue {
    color: #11335d !important;
}

.txt-clr-red {
    color: red !important;
}

.pointer {
  cursor: pointer;
}