html, body { height: 100%; }
body { margin: 0 !important; font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif !important;}

.mat-mdc-raised-button{
  background-color: #1a73e8 !important;
  color: white !important;
}

/* Hover effect */
.mat-mdc-raised-button:hover {
  opacity: 0.9;
}

.mdc-text-field__input {
  color: #000 !important;
}

.mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-text-field-wrapper {
  border-radius: 8px !important;
  background: white !important;
}

.mat-mdc-floating-label {
  color: #1a73e8 !important;
}

.mat-mdc-form-field.mat-focused .mat-mdc-floating-label {
  color: #1a73e8 !important;
}

.mdc-notched-outline__leading,
.mdc-notched-outline__notch,
.mdc-notched-outline__trailing {
  border-color: #c5d7ff !important;
}

.mat-mdc-form-field:hover 
.mdc-notched-outline__leading,
.mat-mdc-form-field:hover 
.mdc-notched-outline__notch,
.mat-mdc-form-field:hover 
.mdc-notched-outline__trailing {
  border-color: #1a73e8 !important;
}

.mat-mdc-form-field.mat-focused 
.mdc-notched-outline__leading,
.mat-mdc-form-field.mat-focused 
.mdc-notched-outline__notch,
.mat-mdc-form-field.mat-focused 
.mdc-notched-outline__trailing {
  border-color: #1a73e8 !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  background: white !important;
  color: black !important;
  border-radius: 5px !important;
}

.mat-mdc-dialog-content {
  background: white !important;
  color: black !important;
}

.mat-mdc-dialog-title {
  color: black !important;
  background: white !important;
}

.mat-mdc-dialog-actions {
  color: black !important;
  background: white !important;
}

// material styling

.background-blue {
    background: #11335d !important;
}

.h-100{
    height: 100vh !important;
}

.txt-clr-blue {
    color: #11335d !important;
}

.txt-clr-red {
    color: red !important;
}

.txt-clr-black {
    color: black !important;
}

.pointer {
  cursor: pointer !important;
}

.spin {
  animation: spin 1s linear infinite !important;
  color: #11335d !important;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}