
    <!-- <h2 mat-dialog-title>{{ data?.title || 'Dialog' }}</h2> -->

    <!-- <mat-dialog-content> -->
      <!-- Form / data display -->
      <!-- <ng-container *ngIf="data?.formData">
        <form #form="ngForm">
          <div *ngFor="let key of getKeys(data.formData)">
            <mat-form-field appearance="fill" style="width:100%">
              <mat-label>{{ key }}</mat-label>
              <input matInput [(ngModel)]="data.formData[key]" name="{{key}}" />
            </mat-form-field>
          </div>
        </form>
      </ng-container> -->

      <!-- Static message -->
      <!-- <p *ngIf="data?.content">{{ data.content }}</p> -->

      <!-- Custom component -->
      <!-- <ng-container *ngIf="data?.component">
        <ng-container *ngComponentOutlet="data.component"></ng-container>
      </ng-container>
    </mat-dialog-content> -->

    <!-- <mat-dialog-actions align="end">
      <button *ngFor="let btn of data?.buttons"
              mat-raised-button
              [color]="btn.color || 'primary'"
              (click)="buttonClick(btn)">
        {{ btn.text }}
      </button>
    </mat-dialog-actions> -->