::ng-deep.dialog-title{
    min-width: 100%;
    display: flex;
    align-items: center;

    p{
        margin: 0px !important;
        font-size: 25px !important;
        font-weight: 500 !important;
        letter-spacing: 1px !important;
        width: 50%;
    }

    button{
        color: darkgray !important;
        width: 50%;
        display: flex;
        justify-content: end;
    }

    button:hover{
        color: black !important;
    }
}