::ng-deep.dialog-title{
    min-width: 100%;
    display: flex;
    align-items: center;

    p{
        margin: 0px !important;
        font-size: 20px !important;
        font-weight: 600 !important;
        letter-spacing: 1px !important;
    }

    button{
        color: darkgray !important;
    }

    button:hover{
        color: black !important;
    }
}